.anchorpane{
   -fx-background-color: transparent;
}

.flowpane{
    -fx-background-color: transparent;
}

/*.scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar{
    -fx-background-color: transparent;
}

 */

#scrollpane{
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.increment-button > .increment-arrow{
    -fx-background-color: transparent;
}

.decrement-button > .decrement-arrow{
    -fx-background-color: transparent;
}

.scroll-bar .thumb{
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

.scroll-bar{
    -fx-background-color: transparent;
}

.expired-label{
    -fx-font-size: 20;
}

